{% extends 'base.html' %}
{% load cart %}
{% block title %} Eshop | Orders {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <h1 class="font-weight-light">주문</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>상품번호</th>
                    <th>이름</th>
                    <th>이미지</th>
                    <th>가격</th>
                    <th>수량</th>
                    <th>총비용</th>
                    <th>날짜</th>
                    <th>상태</th>
                </tr>
            </thead>
            <tbody>
            	{% for order in orders %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><img height="80px" width="100px" src="{{ order.product.image.url }}" alt=""></td>
                    <td>{{ order.product }}</td>
                    <td>{{ order.price|currency:"WON" }}</td>
                    <td>{{ order.quantity }}</td>
                    <th>{{ order.quantity|multipy:order.price }}원</th>
                    <th>{{ order.date }}</th>
                    {% if order.completed %}
                    <th><span class="badge badge-success">주문완료</span></th>
                    {% else %}
                    <th><span class="badge badge-warning">보류중..</span></th>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>


</div>
{% endblock %}